<div class="bg-img"></div>

<div class="container">
  <h1>Our Collection</h1>

  <p class="page-description">
    Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly
    roasted in small batches and shipped fresh weekly.
  </p>

  <nav class="navbar">
    <a class="navbar__element" (click)="onChangeMustShowAllCoffees(true)"
      [ngClass]="{'navbar__element--active':mustShowAllCoffees}">
      All Products
    </a>
    <a class="navbar__element" (click)="onChangeMustShowAllCoffees(false)"
      [ngClass]="{'navbar__element--active':mustShowAllCoffees===false}">
      Available Now
    </a>
  </nav>

  <app-list></app-list>


</div>